<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MODA - Home</title>

    <link rel="stylesheet" href="../estilos/menu.css">
    <link rel="stylesheet" href="../estilos/principal.css">
</head>
<body>

    <div id="menu-container"></div>

    <main class="home-container">
    <section class="hero">
        <div class="hero-content">
            <p class="hero-badge">Nueva colección 2026</p>
            <h1>MODA QUE IMPACTA</h1>
            <p class="hero-text">
                Descubre prendas, tendencias y ofertas en una experiencia visual más moderna y elegante.
            </p>

            <div class="hero-links">
                <a href="#" class="btn-hero">Mujer</a>
                <a href="#" class="btn-hero">Hombre</a>
            </div>
        </div>
    </section>

    <section class="tiendas-grid">

        <section class="banner-luxury">
            <div>
                <h4>Un diseño mucho más visual y actual</h4>
                <p>
                    Explora prendas, tiendas y colecciones con una estética moderna,
                    limpia y mucho más atractiva visualmente.
                </p>
            </div>
            <div class="banner-pill">Modo premium</div>
        </section>

    <div class="tienda-card">
        <h2>ZARA</h2>
        <a href="zara.html">Ver colección</a>
    </div>

    <div class="tienda-card">
        <h2>PULL & BEAR</h2>
        <a href="#">Explorar</a>
    </div>

    <div class="tienda-card">
        <h2>BERSHKA</h2>
        <a href="#">New style</a>
    </div>

    </section>

</main>

    <script src="../script/menu.js"></script>
</body>
</html>